@font-face {
    font-family: 'ledCustom';
    src: url(../../assets/fonts/DS-DIGII.TTF);
}

/*首页实时数据组件*/
.search-center {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 5px;
}

.search-center-wrapper {
    display: flex;
    align-items: center;
    width: 320px;
    height: 47px;
    background: rgba(70, 70, 70, 0.8);
    border-radius: 5px;
    border: 2px solid #0D0D0D;
    justify-content: center;
    padding: 0;
}

.data-txt {
    width: 75px;
    min-width: 56px;
    height: 20px;
    background: #313131;
    border-radius: 5px;
    border: 1px solid #101010;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    /* font-weight: 600; */
    color: #D2D2D2;
    /* line-height: 38px; */
    text-align: center;
    position: absolute;
    top: 5px!important;

}
.data-txt+.data-wrapper{
    /*border-left: 2px solid #000 !important;*/
}
.data-txt+.data-wrapper .data-title{
    /*border-right: 2px solid #000 !important;*/
    right: auto;
    left: 32px;
}
.data-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
}

.data-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: right;
    color: #fff;
    /*font-size: 12px;*/
    font-size: 15px;
    position: absolute;
    top: 28px;
    right: 30px;
}

.ship-icon::after {
    content: '';
    margin-right: 2px;
    width: 12px;
    height: 12px;
    background: url("./images/search_center_ship.png") no-repeat;
    background-size: 100% 100%;
}

.net-icon::before {
    content: '';
    margin-right: 2px;
    width: 12px;
    height: 12px;
    background: url("./images/search_center_net.png") no-repeat;
    background-size: 100% 100%;
}
.data-txt+.data-wrapper .data-view{
    /*border-left: 2px solid #000 !important;*/
    width: calc(100% - 55px);
    text-align: left;
    margin-right: 0;
    margin-left: 55px;
}
.data-view {
    width: calc(100% - 45px);
    min-width: 50px;
    font-family: ledCustom;
    color: #fff;
    text-align: right;
    font-size: 50px;
    margin-right: 45px;
}

/*首页实时数据组件END*/

/*leaflef controls css*/
.leaflet-bottom.leaflet-left {
    bottom: 10px;
    left: 11px;
}
.leaflet-control-scale {
    width: 86px !important;
    padding: 6px 5px;
    background-color: rgba(36, 36, 36, 0.6) !important;
    margin: 0 !important;
    margin-bottom: 6px !important;
    border: 1px solid #000000;
}

.leaflet-control-scale-line {
    /*width: 76px !important;*/
    text-align: center;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-top: none !important;
    background-color: #fff0 !important;
    margin: 0 auto;
    font-size: 14px !important;
    height: 18px;
}

.leaflet-container .leaflet-control-mouseposition {
    width: 86px !important;
    text-align: center;
    color: #fff !important;
    font-size: 14px !important;
}

/*leaflef controls css END*/

/*layer dialog css*/
.layui-layer-lan .layui-layer-title {
    padding-left: 10px !important;
    height: 34px !important;
    line-height: 34px !important;
    color: #fff !important;
}

.layui-layer-setwin {
    top: 8px !important;
}

.layui-layer-setwin a {
    border: 1px solid #fff !important;
}

/*layer dialog css END*/

/*layer btn css*/
.layui-btn {
    background: rgba(70, 70, 70, 0.8);
    border-radius: 5px;
    border: none !important;
    color: #fff !important;
}

.layui-form-label {
    padding-right: 2px !important;
    color: #fff !important;
}

.layui-input {
    background: #313131 !important;
    border: 1px solid #101010 !important;
}

.layui-input-block {
    margin-left: 100px;
}

/*layer btn,input css END*/

/*右下角图层切换组件样式 css*/
.mapDiv .map_layer0 b {
    background: rgba(0, 0, 255, 0.83) !important;
}

.mapDiv_show a {
    border: 3px solid #6B6B6B !important;
}

.mapDiv_show a:hover {
    border: 3px solid #fff !important;
}

.mapDiv_hide a {
    border: 3px solid #fff !important;
}
/*右下角图层切换组件样式 css END*/

/*图例dialog css*/
.layui-layer-setwin a.layui-layer-close2 {
    width: 16px !important;
    height: 16px !important;
    top: -6px !important;
}
/*图例dialog css END*/

/*showTab按钮 css*/
.show-tab-btn-style {
    background: rgba(110, 110, 110, 0.8);
    border: 1px solid #000000 !important;
    width: 35px;
    height: 41px;
    border-radius: 0;
    line-height: 34px !important;
    padding: 0 !important;
    text-align: center;
}
/*showTab按钮 css END*/

/*搜索栏 css*/
.search-btn-wrapper {
    display: flex;
    align-items: center;
    padding: 6px;
    padding-left: 12px;
    height: 26px;
    border-radius: 0;
    /*border: 1px solid #000000;*/
    background: rgba(70,70,70,0.8);
}
.search-btn-style {
    width: 80px;
    height: 28px !important;
    line-height: 28px;
    /*background: linear-gradient(180deg, #575757 0%, #727272 49%, #2C2C2C 100%);*/
    /*box-shadow: inset 0px 1px 3px 1px #D0D0D0;*/
    border-radius: 0 !important;
    /*border: 1px solid #4D4D4D !important;*/
    border: 1px solid #000000 !important;
    padding: 0;
    color: rgba(255,255,255,.7) !important;
}
.search-btn-style:hover {
    color: #fff !important;
    opacity: 1 !important;
}
.search-input-wrapper {
    /*height: 41px;*/
    /*background: rgba(110, 110, 110, 0.8);*/
    /*border: 1px solid #000000;*/
    position: relative;
    width: 386px !important;
    height: 26px;
    padding: 6px;
    padding-right: 0;
    background: rgba(70,70,70,0.8);
}
.search-input-wrapper input {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 385px;
    height: 29px;
    background: #313131;
    border: 1px solid #101010;
}
.search-list-style {
    width: 330px !important;
    margin-top: 32px;
    /*margin-left: -6px;*/
}
/*搜索栏 css END*/

td {
    text-align: left;
}

/*图层元素dialog css*/
.element-label-style {
    display: block;
    width: calc(100% - 17px) !important;
    text-align: left;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 20px;
}
.element-container {
    margin-left: 32px !important;
    display: flex;
    width: calc(100% - 32px);
    display: flex;
    flex-wrap: wrap;
}
.element-item-wrapper {
    width: 50%;
    margin-left: 0 !important;
}
.element-item-wrapper .layui-form-switch {
    width: 90px !important;
    height: 26px;
}
.element-item-wrapper .layui-form-switch.layui-form-onswitch {
    background: rgba(39,112,212,0.8) !important;
}
.element-item-wrapper .layui-form-switch em {
    font-size: 14px;
    line-height: 26px;
    color: #FFF !important;
}
.elem-special-style .layui-form-switch {
    background: rgba(39,112,212,0.8) !important;
}
/*图层元素dialog css END*/

/*保存按钮css*/
.save-btn-style {
    margin-left: 116px !important;
}
.save-btn-style button {
    width: 184px !important;
}
/*保存按钮css END*/

/*我得船舶-船队消息播发css*/
.customs-tab-content {
    width: calc(100% - 200px) !important;
    margin: 0 auto;
    margin-right: 0 !important;
}
.customs-tab-content .layui-form-item {
    width: 100% !important;
    margin-right: 0 !important;
}
.custom-tab-item1 .layui-form-select,
.custom-tab-item1 .layui-input,
.custom-tab-item1 .layui-textarea{
    width: 450px;
}
.custom-tab-item1 .layui-btn-normal {
    width: 450px !important;
    margin-top: 0px !important;
    margin-left: 100px !important;
}

.custom-tab-item1-1 .layui-btn-normal {
    margin-top: 12px !important;
}

.custom-tab-item2 .layui-form-select,
.custom-tab-item2 .layui-input,
.custom-tab-item2 .layui-textarea{
    width: 400px;
}
.custom-tab-item2 .layui-btn-normal {
    width: 400px !important;
    margin-top: 0px !important;
    margin-left: 120px !important;
}

.custom-tab-item3 .layui-form-select,
.custom-tab-item3 .layui-input,
.custom-tab-item3 .layui-textarea{
    width: 340px;
}
.custom-tab-item3 .layui-btn-normal {
    width: 340px !important;
    margin-top: 0px !important;
    margin-left: 170px !important;
}

.custom-tab-item4 .layui-form-select,
.custom-tab-item4 .layui-input,
.custom-tab-item4 .layui-textarea{
    width: 340px;
}
.custom-tab-item4 .layui-btn-normal {
    width: 340px !important;
    margin-top: 0px !important;
    margin-left: 180px !important;
}
.custom-tab-item4 .check-box-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.check-box-group .layui-form-checkbox {
    width: 50%;
}
.check-box-group .layui-unselect.layui-form-checkbox.layui-checkbox-disabled i.layui-icon {
    filter: brightness(0.5);
}

.custom-tab-item5 .layui-form-select,
.custom-tab-item5 .layui-input,
.custom-tab-item5 .layui-textarea{
    width: 320px;
}
.custom-tab-item5 #targetAddShip1 {
    margin-left: 160px !important;
}
.custom-tab-item5 .layui-btn-normal {
    width: 320px !important;
    margin-top: 0px !important;
    margin-left: 190px !important;
}

.custom-tab-item6 .layui-form-select,
.custom-tab-item6 .layui-input,
.custom-tab-item6 .layui-textarea{
    width: 340px;
}
.custom-tab-item6 .layui-btn-normal {
    width: 340px !important;
    margin-top: 0px !important;
    margin-left: 170px !important;
}
.custom-tab-item6 .check-box-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.custom-tab-item6 .dbl-form-item {
    width: 412px;
    display: flex;
    margin-left: 130px;
}

.custom-tab-item6 .dbl-form-item .layui-input-block input {
    width: 135px !important;
}
.custom-tab-item7 .layui-form-select,
.custom-tab-item7 .layui-input,
.custom-tab-item7 .layui-textarea{
    width: 450px;
}
.custom-tab-item7 .layui-btn-normal {
    width: 450px !important;
    margin-top: 0px !important;
    margin-left: 70px !important;
}

/*我得船舶-船队消息播发css END*/

/*船队详细信息 css*/
div[lay-id='fleetInfoDetail-table'] {
    margin: 0 !important;
}
div[lay-id='fleetInfoDetail-table'] .layui-table-header:first-of-type>table {
    border: none !important;
}
div[lay-id='fleetInfoDetail-table'] .layui-table-header:first-of-type>table>thead {
    border: none !important;
}
div[lay-id='fleetInfoDetail-table'] .layui-table-body>table {
    border: none !important;
}
#fleetInfoDetailLayer #fleetInfoDetail-table {
    margin: 0;
}
#fleetInfoDetailLayer tr[data-index^='fleetInfoDetail-table-']>td {
    padding: 0 !important;
}
#fleetInfoDetailLayer tr[data-index^='fleetInfoDetail-table-']>td>.layui-table-cell {
    padding: 0 !important;
}
#fleetInfoDetailLayer tr[data-index^='fleetInfoDetail-table-']>td>.layui-table-cell>.layui-table-view {
    margin: 0 !important;
}
/*船队详细信息 css END*/

/*左上角按钮组css*/
#layerControl, #heatControl, #markerControl {
    color: rgba(255,255,255,.7) !important;
}
#layerControl:hover,
#heatControl:hover,
#markerControl:hover {
    color: #fff !important;
    opacity: 1 !important;
}
/*左上角按钮组css END*/

/*右下角按钮组css*/
#subNavigation_box>div>i:hover,
.leaflet-control-zoom>a:hover {
    color: #fff !important;
}
/*右下角按钮组css END*/

/*我的船队dialog css*/
#myFleetLayer tr[data-index^='fleet-table-']>td {
    padding: 0 !important;
}
#myFleetLayer tr[data-index^='fleet-table-']>td>div {
    padding: 0 !important;
}
#myFleetLayer tr[data-index^='fleet-table-']>td>div .layui-table-view:first-of-type {
    margin: 0 !important;
}
div[lay-id^='fleet-table-'] .layui-table-body table {
    border: none !important;
}
#myFleetLayer tbody tr:nth-child(odd) {
    background-color: rgba(36,36,36,0)!important;
}
/*我的船队dialog css END*/

/*右上角按钮组下拉菜单css*/
.drop-down-style button {
    color: rgba(255,255,255,.7) !important;
}
.drop-down-style button:hover {
    color: #fff !important;
    opacity: 1 !important;
}
/*右上角按钮组下拉菜单css END*/

/*右上角消息小铃铛css*/
#messageCount {
    padding: 0 !important;
}
#messagesUnread {
    margin-top: -3px;
}
#messagesUnread i {
    margin-left: -22px;
}


/*右上角消息小铃铛css END*/

/*基站悬浮dialog css*/
.leaflet-popup-content-wrapper {
    background-color: rgba(70,70,70,0.8) !important;
}
.leaflet-popup-content {
    margin: 2px !important;
    background-color: #fff0 !important;
}
.leaflet-popup-content dd {
    padding: 1px 0 !important;
}
.leaflet-popup-content dd:first-of-type {
    padding-top: 0 !important;
}
.leaflet-popup-content dd:last-of-type {
    padding-bottom: 0 !important;
}
.leaflet-popup-content dd button {
    border: none !important;
    border-radius: 0px !important;
}
/*基站悬浮dialog css END*/


#receiveMessageControl_id {
    overflow: hidden;
}

.targetShipExportTableLayer {

}

.targetShipExportTableLayer-container {
    color: #DBD9D1;
    padding: 10px;
    display: inline-block;
    width: 44%;
}

.targetShipExportTableLayer-label {
    width: 50px;
    text-align: right;
    display: inline-block;
}

.targetShipExportTableLayer-value {
    display: inline-block;
    width: 122px;
}
