

@media screen and (max-width: 600px) {
    html {
        padding-right: calc(100vw - 100%);
        overflow: hidden;
        /*background-color: blue;*/
    }

    #allCount {
        /*width: 100vw;*/
        /*position: relative;*/
        position: absolute;
        left: 0;
        transform: translate(0);
        width: calc(100vw * 0.75);

    }

    .layui-btn {
        padding: 0 5px;
    }

    .portal {
        /*padding: 0 10px;*/
        padding: 0!important;
        margin-right: 0 !important;
        width: calc(100vw * 0.15) !important;
    }

    .navigation_box {
        position: absolute;
        top: 37px;
        left: 5px;
    }

    #navigation_box {
        z-index: 9999999999999!important;
    }

    .navigation_box-layui-nav {
        position: absolute;
        right: 0;
        top: -5px;
        margin-right: 10px;
    }

    .showTabBtn {
        position: absolute;
        top: 85px;
        left: 0;
    }

    #showTabBtn {
        margin-left: 0 !important;
    }

    #search {
        margin-left: 5px !important;
    }

    .navigation_box-layui-nav-child {
        z-index: 999999;
    }

    .search-box {
        position: absolute;
        top: 52px;
        width: 100vw;
    }

    .layui-btn-group {
        position: absolute;
        top: 102px;
    }

    .showTabBtn-container {
        width: 67vw !important;
        height: 36px;
    }

    .stationDetail_id {
        width: 640px!important;
    }

    .atonDetail_id {
        width: 640px!important;
    }

    .search-center-wrapper {
        width: 100%;
    }

    .layui-nav {
        padding: 0 10px;
    }

    .layui-layer {
        transform: scale(0.6);
        transform-origin: left top;
        top: 145px !important;
        left: 5px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .messageBoxSend {
        width: 160vw !important;
    }

    #allList_left_middle {
        margin-top: 113px !important;
    }

    #control {
        float: left !important;
        padding: 0 8px!important;
    }

    .leaflet-left {
        transform-origin: left bottom;
        transform: scale(0.7);
    }

    /*.layui-layer-lan {*/
    /*    transform: scale(0.46);*/
    /*    transform-origin: left top;*/
    /*    top: 135px !important;*/
    /*    left: 5px !important;*/
    /*    margin-left: 0 !important;*/
    /*    margin-top: 0 !important;*/
    /*}*/
    .messageReplyLayerId {
        transform: scale(0.44);
    }

    .FleetInfoDetailLayer {
        z-index: 9999999999 !important;
        transform-origin: left top;
        /*transform: scale(0.35);*/
        width: 160vw !important;
        top: 160px !important;
    }

    .fleetShipInfoLayer {
        z-index: 9999999999 !important;
    }

    .myFleetSendMessageLayer {
        z-index: 9999999999 !important;
        top: 160px !important;
        transform: scale(0.45);
    }

    .search-btn-wrapper {
        width: 66px;
        height: 36px;
        padding-left: 0px;
    }

    #saerchMMSIorName {
        width: 65vw;
    }

    .show-tab-btn-style {
        height: 48px !important;
    }

    .ul-custom {
        position: absolute;
    }

    .layui-tab-content-custom {
        width: 400px!important;
    }

    .select-custom {
        display: inline-block!important;
    }

    .select-custom > .layui-form-select {
        display: inline-block;

        width: 300px!important;
    }

    #sendSafeMsgControlLayer .custom-top-ais-msg-btn {
        width: 300px!important;
    }

    .layui-input-block-custom {
        width: 185px!important;
    }

    #sendSafeMsgControlLayer #waypoints .layui-input-block input {
        width: 185px !important;
    }

    #sendSafeMsgControlLayer .custom-top-asm-water-msg-btn {
        width: 39% !important;
        margin-top: 0 !important;
        margin-left: 168px !important;
    }

    #sendSafeMsgControlLayer .custom-top-asm-text-msg-btn {
        width: 60% !important;
        margin-top: 0 !important;
        margin-left: 66px !important;
    }

    #sendSafeMsgControlLayer .custom-top-asm-sea-msg-btn {
        width: 30.5% !important;
        margin-top: 0 !important;
        margin-left: 215px !important;
    }

    #sendSafeMsgControlLayer .custom-top-asm-area-msg-btn {
        width: 37% !important;
        margin-top: 0 !important;
        margin-left: 185px !important;
    }

    #sendSafeMsgControlLayer .custom-top-asm-area-add-btn {
        width: 35% !important;
        margin-top: 0 !important;
        margin-left: 83px !important;
    }

    #sendSafeMsgControlLayer .custom-top-asm-target-msg-btn {
        width: 36.5% !important;
        margin-top: 0px !important;
        margin-left: 168px !important;
        transform: translateY(50px);
    }
    .layui-form-label-transform {
        transform: translate(-207px, 47px);
    }

    .layui-input-block-transform {
        transform: translate(-205px, 48px);
    }


    #sendSafeMsgControlLayer .cus#sendSafeMsgControlLayer .custom-top-ais-msg-btntom-top-asm-text-msg-btn {
        margin-top: 10px;
    }

    .layui-input-block-custom-150 {
        width: 150px!important;
    }

    .layui-input-block-custom-300 {
        width: 300px!important;
    }

    .layui-input-block-custom-vde {
        width: 420px!important;
    }

    #sendSafeMsgControlLayer #textMsg5 {
        width: 315px !important;
    }

    #sendSafeMsgControlLayer .custom-top-vde-msg-btn {
        width: 317px !important;
        margin-top: 10px !important;
        margin-left: 100px !important;
    }

    #sendSafeMsgControlLayer #textMsg3, #textMsg4 {
        width: 300px!important;
    }

    .custom-top-all-msg-btn {
        width: 38% !important;
        margin-top: 0 !important;
        margin-left: 97px !important;
    }

    #sendSafeMsgControlLayer .layui-tab-content.custom-unset-width {
        overflow-x: hidden;
    }

    .layui-nav .layui-nav-item a {
        padding: 0px;
    }

    .layui-nav-child-mobile {
        left: -55px!important;
    }

    .layui-form-item .layui-inline {
        display: inline-block;
    }

    #targetShipSendMessageLayer .layui-unselect.layui-form-checkbox {
        width: 47%;
    }

    .check-box-group .layui-form-checkbox {
        width: 47%;
    }

    .layui-form-checkbox[lay-skin=primary] span {
        color: white!important;
    }

    .data-view {
        width: calc(100% - 45px);
        min-width: 50px;
        font-family: ledCustom;
        color: #fff;
        text-align: right;
        font-size: 40px;
        margin-right: 45px;
    }
}





@media screen and (device-aspect-ratio: 3000/2000) {
    .search-center-wrapper {
        transform-origin: left;
        transform: scale(0.9);
    }
    .search-center {
        position: fixed;
        left: 50%;
        transform: translate(-40%);
        top: 55px;
    }
    #subNavigation_box {
        transform: scale(0.9,0.9);
        top: 630px;
    }
    .leaflet-bottom {
        transform: scale(0.9,0.9);
        z-index: 999999999;
    }
    #subNavigation_box {
        transform: scale(0.9,0.9);
        top: auto;
    }
    /*.banner {*/

    /*    transform: scale(0.8,0.8);*/
    /*    position: fixed;*/
    /*    width: 545px;*/
    /*    margin-left: calc((100% - 545px)/2);*/
    /*    height: 53px;*/
    /*    background-image: url(images/banner.png);*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: 100% 100%;*/
    /*    margin-left: 36%;*/
    /*    z-index: 9999999;*/
    /*}*/

    .banner {
        transform: translate(-50%) !important;
        left: 50% !important;
        width: 200px;
        height: 28px;
        /* margin-left: calc((100% - 280px)/2); */
        background-image: url(images/banner-jl.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 9999999;
        transform: scale(0.7);
    }

    .layui-btn-group {
        transform: scale(0.9,0.9);
        translate: 60px;
        vertical-align: middle;
        font-size: 0;
    }
    .layui-btn-personInfo {
        transform: scale(0.9,0.9);
        float: right;
        margin-right: 10px;
    }
}
/*手机竖屏*/
@media screen and (min-width: 350px) and (max-width: 500px) {
    .banner {
        /*transform: translate(-50%) !important;*/
        /*left: 50% !important;*/
        width: 240px;
        height: 32px;
        /*margin-left: calc((100% - 240px)/2);*/
        background-image: url(images/banner-jl.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 9999999;
    }
    .layui-btn-group {
        position: absolute;
        top: 630%;
    }
    #navigation_box {
        translate: -5%;
        transform: scale(0.9);
        z-index: 9999999999999!important;
    }
    .layui-btn-personInfo {
        translate: 87%;
        margin-top: 35%;
    }
    #showTabBtn {
        transform: scale(0.8);
        margin-left: -2px !important;
    }
    #allCount {
        translate: 17%;
        top: 126%;
        position: absolute;
        left: 0;
        transform: scale(0.6);
        width: calc(100vw * 0.75);
    }
    .showTabBtn-container {
        translate: -4%;
        /* margin-left: 0px; */
        width: 67vw !important;
        height: 36px;
    }
    .search-btn-wrapper {
        translate: -25%;
        width: 66px;
        height: 36px;
        padding-left: 0px;
    }
    .search-box {
        position: absolute;
        top: 340%;
        width: 100vw;
    }
    #search {
        margin-left: 25px !important;
    }
    #saerchMMSIorName {
        width: 71vw;
    }
    #allList_left_middle {
        translate: -10%;
        width: 125%;
        margin-top: 18% !important;
        transform: scale(0.8);
    }
    .layui-layer {
        top: 18.5% !important;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: #fff;
        -webkit-background-clip: content;
        border-radius: 2px;
        box-shadow: 1px 1px 50px rgb(0 0 0 / 30%);
    }
}
/*手机横屏*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
    #allCount {
        transform: translate(-50%) scale(0.5);
        top: 20px;
        left: 50%;
    }
    .banner {
        transform: translate(-50%) !important;
        left: 50% !important;
        width: 260px;
        height: 32px;
        background-image: url(images/banner-jl.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 9999999;
    }
    .show-tab-btn-style {
        translate: -5px;
        margin-top: -5px;
        transform: scale(0.7) !important;
        border: 1px solid #000000 !important;
        width: 35px;
        border-radius: 0;
        line-height: 34px !important;
        padding: 0 !important;
        text-align: center;
    }
    .search-input-wrapper {
        margin-top: -0.5px !important;
        translate: -75px;
        transform: scale(0.7);
        position: relative;
        width: 386px !important;
        height: 26px;
        padding-right: 0;
        background: rgba(70,70,70,0.8);
    }
    .search-input-wrapper input {
        width: 330px;
    }
    .search-btn-wrapper {
        margin-top: -0.5px !important;
        transform: scale(0.7);
        translate: -193px;
        display: flex;
        align-items: center;
        padding: 6px;
        padding-left: 12px;
        height: 26px;
        border-radius: 0;
        background: rgba(70,70,70,0.8);
    }
    .layui-btn-personInfo {
        margin-top: -5.6px;
        padding-right: 0px;
        transform: scale(0.7);
        margin-right: 0px !important;
        translate: 15px;
    }
    .layui-btn-group {
        transform: scale(0.7);
        vertical-align: middle;
        font-size: 0;
        translate: 85px;
        margin-top: -5.7px;
    }
    .layui-anim-upbit {
        left: -45px !important;
        -webkit-animation-name: layui-upbit;
        animation-name: layui-upbit;
    }
    .leaflet-bottom.leaflet-left {
        bottom: 0px;
        left: -10px;
        transform: scale(0.7);
    }
    #subNavigation_box {
        transform: scale(0.7);
        bottom: 110px !important;
        right: 0.5px !important;
    }
    .leaflet-right {
        bottom: -10px;
        transform: scale(0.7);
        right: -8px;
    }
    .mapDiv {
        margin-right: -20px;
        position: absolute;
        bottom: 0px;
        right: 10px;
        z-index: 1002;
        transform: scale(0.7);
    }
    .layui-layer {
        transform: scale(0.7);
    }
    .layui-layer {
        margin-top: 0px !important;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: #fff;
        -webkit-background-clip: content;
        border-radius: 2px;
        box-shadow: 1px 1px 50px rgb(0 0 0 / 30%);
    }
    .layui-input-inline {
        display: none;
        vertical-align: middle;
    }
    #layerControl, #heatControl, #markerControl {
        border-right: 1px solid #000!important;
        color: rgba(255,255,255,.7) !important;
    }
    .layui-tab {
        width: 450px;
        transform: translate(-15%,-22%) scale(0.7);
        margin: 10px 0;
        text-align: left!important;
    }
}
