.mapDiv b{position:absolute;bottom:38px;right:24px;display:inline-block;width:50px;line-height:20px;color:#fff;background:rgba(0,0,0,.5);text-align:center;font-weight:400}
.mapDiv .map_layer0 b{background:#0000ff}
.mapDiv_bg{position: absolute;bottom:0;right: 0;height: 80px;background: rgba(36,36,36,0.8);z-index:1001;opacity:0.7}
.mapDiv{position: absolute;bottom:10px;right: 10px;z-index: 1002;}
.mapDiv a{display: inline-block;position: absolute;}
.mapDiv_show{width: 258px;height: 60px;}
.mapDiv_show a{border: 1px solid #0000ff;z-index:1002 }
.mapDiv_show a:hover{border: 1px solid #fff;}
.mapDiv_hide{width: 96px;height: 60px;}
.mapDiv_hide a{border: 1px solid #fff;top: 0;box-shadow:0 2px 2px rgba(0,0,0,0.25);}
.map_layer0{right: 0;opacity:1;z-index:1005 }
.mapDiv_hide a.map_layer1{right: 10px;opacity:0.5;z-index:1004 }
.mapDiv_hide a.map_layer2{right: 20px;opacity:0.3;z-index:1003 }