.camera_control .camera-control-up {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.camera_control .camera-control-right {
    border-top-right-radius: 4px;
}

.camera_control .camera-control-zoom-in {
    border-bottom-left-radius: 4px;
}

.camera_control .camera-control-zoom-out {
    border-bottom-right-radius: 4px;
}

.camera_control .camera-control-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.camera_control .left-right, .camera-control-zoom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.camera_control:hover {
    opacity: 1;
}

.camera_control {
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.555, 0.330, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.555, 0.330, 1.390);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.555, 0.330, 1.390);
    -o-transition: all 500ms cubic-bezier(0.000, 0.555, 0.330, 1.390);
    transition: all 500ms cubic-bezier(0.000, 0.555, 0.330, 1.390);

    -webkit-transition-timing-function: cubic-bezier(0.000, 0.555, 0.330, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.000, 0.555, 0.330, 1.390);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.555, 0.330, 1.390);
    -o-transition-timing-function: cubic-bezier(0.000, 0.555, 0.330, 1.390);
    transition-timing-function: cubic-bezier(0.000, 0.555, 0.330, 1.390);

    /***/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0.5;
}

.camera_control button, .camera-control-placeholder {
    width: 30px;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    background: rgba(36, 36, 36, 0.6);
    color: #ffffff;
}

.camera-control-placeholder {
    visibility: hidden;
}

.camera_control > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.camera_control button i {
    color: #ffffff;
}

.camera_control button:hover, .camera-ai-box button:hover {

    box-shadow: 0px 0px 20px 3px rgba(39, 112, 212, 0.9);
    z-index: 1;
}

.camera_control button:active, .camera-ai-box button:active {
    box-shadow: 0px 0px 20px 7px rgba(39, 112, 212, 0.8);
    z-index: 1;
}


.video-box {
    display: inline-block;
}


.target-box {
    display: block;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    border: 1px solid #FF0000B5;
}

.target-box p {
    margin-top: -20px;
    color: #FFFFFF87;
}

.camera-ai-box {
    position: absolute;
    top: 3px;
    right: 3px;
    display: inline-block;

}

.control-box {
    display: inline-block;
    padding-top: 4px;
    padding-right: 4px;
}

.camera-ai-box button {
    width: 30px;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    background: rgba(36, 36, 36, 0.6);
    border-radius: 4px;
    opacity: 0.5;
    color: rgba(255, 255, 255, .9);
}

.camera-ai-box button.active,
.camera-ai-box .ai-flag-close:hover {
    opacity: 1;
}

.hidden {
    display: none;
}
